<!DOCTYPE html>
<html>
  <head>
    <title>FreshFlixz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>FreshFlixz</h1>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright &copy; <%= Time.now.year %>
        <%= link_to  "andrewtalle", 'https://github.com/ogAndrew' %>
      </p>
    </footer>
  </body>
</html>
